// eslint.config.js
import next from "eslint-config-next";
import tseslint from "@typescript-eslint/eslint-plugin";
import tsparser from "@typescript-eslint/parser";

/** @type {import('eslint').Linter.FlatConfig[]} */
export default [
  {
    ignores: [
      ".next/**",     
      "out/**",       
      "docs/**",      
      "public/**",    
      "node_modules/**",
      "**/_buildManifest.js",
      "**/_ssgManifest.js",
      "**/chunks/**",
    ],
  },
  next,
  {
    files: ["**/*.ts", "**/*.tsx"],
    languageOptions: { parser: tsparser },
    plugins: { "@typescript-eslint": tseslint },
    rules: {
      "@typescript-eslint/no-unused-vars": [
        "warn",
        { argsIgnorePattern: "^_", varsIgnorePattern: "^_" },
      ],
    },
  },
];
